@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Define or remove the animation if not needed */
@keyframes bounce-ease {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translateY(-2%);
    animation-timing-function: ease-in-out;
  }
}

.animate-bounce-ease {
  animation: bounce-ease 2s infinite;
}
